* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border_logos {
    border-radius: 15px;
    border: 2px solid white;
}

.grilla_noticias {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 10px 80px 500px 50px 100px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-areas: "img1 img2"
        "titulo1 titulo2"
        "texto_not1 texto_not2"
        "img3 img4"
        "titulo3 titulo4"
        "texto_not3 texto_not4";
    margin-top: 10px;
}

.img1 {
    grid-area: img1;
    height: 500px;
    width: 850px;
    justify-self: center;
}

.img2 {
    height: 500px;
    width: 850px;
    grid-area: img2;
    justify-self: center;
}

.titulo1 {
    grid-area: titulo1;
    justify-self: center;
    text-decoration: underline;
}

.titulo2 {
    grid-area: titulo2;
    justify-self: center;
    text-decoration: underline;
}

.texto_not1 {
    grid-area: texto_not1;
    font-size: 1.1rem;
    margin: 10px;
}

.texto_not2 {
    grid-area: texto_not2;
    font-size: 1.1rem;
    margin: 10px;
}

.img3 {
    grid-area: img3;
    height: 500px;
    width: 850px;
    justify-self: center;
}

.img4 {
    grid-area: img4;
    height: 500px;
    width: 850px;
    justify-self: center;
}

.titulo3 {
    grid-area: titulo3;
    justify-self: center;
    text-decoration: underline;
}

.titulo4 {
    grid-area: titulo4;
    justify-self: center;
    text-decoration: underline;
}

.texto_not3 {
    grid-area: texto_not3;
    font-size: 1.1rem;
    margin: 10px;
}

.texto_not4 {
    grid-area: texto_not4;
    font-size: 1.1rem;
    margin: 10px;
}






.imagenPortada {
    width: 1900px;
    height: 500px;
    padding: 10px;
}

hr {
    margin: 10px;
    border: 1px solid;
    color: rgb(255, 255, 255)
}

.btnPresupuesto{
    background-color: rgb(18, 204, 18);
}

.consulta {
    width: 400px;
    height: 200px;
}

.imgGaleria {
    margin-left: 300px;
    padding: 10px;
}

.iimgGaleria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}


.iimgGaleria img {
    opacity: 0.5;
}

.iimgGaleria img:hover {
    opacity: 1;
}

.pad{
    padding: 20px;
}

.carouselSize{
    height: 700px;
}

.carouselImg{
    height: 700px;
}

